.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: #00C
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre3 {
    display: block;
    text-align: center
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre6 {
    display: block
    }
.calibre7 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 1pt;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-decoration: none
    }
.calibre8 {
    display: block;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
.calibre9 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: block;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 2em
    }
.calibre11 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center
    }
.calibre12 {
    display: block;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 2em
    }
.calibre13 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.frame {
    height: 62px;
    width: 102px
    }
.jiaozhu {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-title {
    border-bottom-color: #000;
    border-bottom-style: dotted;
    border-bottom-width: 1.5px;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    text-align: center
    }
.neiwenyingwen {
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal
    }
.yuanquan {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.zhaiyao {
    display: block;
    font-size: 0.75em;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

